aiosmtpd==1.4.2
alembic==1.6.5
atpublic==3.0.1
attrs==21.4.0
authheaders==0.14.1
authres==1.2.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
dkimpy==1.0.5
dnspython==2.2.1
falcon==3.1.0
Flask==2.1.1
flufl.bounce==4.0
flufl.i18n==4.0
flufl.lock==7.0
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.0
itsdangerous==2.1.2
Jinja2==3.1.1
lazr.config==2.2.3
lazr.delegates==2.0.4
Mako==1.2.0
MarkupSafe==2.1.1
nose==1.3.7
passlib==1.7.4
prometheus-client==0.14.1
psutil==5.9.0
publicsuffix2==2.20191221
python-dateutil==2.8.2
python-editor==1.0.4
requests==2.27.1
six==1.16.0
SQLAlchemy==1.3.24
urllib3==1.26.9
Werkzeug==2.1.1
zipp==3.8.0
zope.component==5.0.1
zope.configuration==4.4.1
zope.event==4.5.0
zope.hookable==5.1.0
zope.i18nmessageid==5.0.1
zope.interface==5.4.0
zope.schema==6.2.0
